table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 3vw;
}

th,
td {
  text-align: left;
  padding: 2px;
}


/* .btnDeleteInfo {
  background: transparent;
  margin-right: -9vw;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 0px 0vw;
  margin-top: -6px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  transition: all 0.4s;
  font-family: Impact, Arial black, sans-serif;
  width: 17em;
}

.btnDeleteInfo:hover,
.btnDeleteInfo:focus {
  background-color: white;
  color: black;
} */
